.u-card {
    margin: 0 5% 5% 5%;
}

.uitems {
    border-top: 2px solid rgb(243 243 244);
    border-bottom: 2px solid rgb(243 243 244);
    margin: 2% 0;
}

.uitems ul {
    margin: 2%;
}

.em {
    margin: 5px 0;
}

.uid {
    font-weight: 600;
}

.uname {
    font-style: italic;
}

span mark {
    color: rgb(84 146 238);
    background-color: inherit;
    font-weight: 600;
}